<div class="box">
  <div class="box-header">
    <h2>
      <!--<i class="fa fa-signal"></i><span class="break"></span>-->
      blood sugar
    </h2>

    <div class="box-icon" style="width: 70px">
      <a class="bs-week well-week active" href="#">W</a>
      <a class="bs-month well-month" href="#">M</a>
    </div>
  </div>
  <div class="box-content avg_bs_content">
    <div class="avg_bs_weekly">
      <%= render partial: '/home/index/sub_avg_blood_sugar' %>
    </div>
    <div class="avg_bs_monthly" style="display: none">
      <%= render partial: '/home/index/sub_avg_blood_sugar' %>
    </div>
  </div>
</div>

<script>
  function row3_ht(){
    var bs_cnt_ht = $('.avg_bs_content').outerHeight();
    var pf_cnt_ht = $('.perf_cont').outerHeight();
    if (bs_cnt_ht > pf_cnt_ht) {
      $('.perf_cont').css('min-height', bs_cnt_ht + 'px');
    } else {
      $('.avg_bs_content').css('min-height', pf_cnt_ht + 'px');
    }
    // console.log('row3')
  }
//  $(window).resize(row3_ht);
  setTimeout(function(){ row3_ht() } ,500);

  $('.bs-week').on('click', function(){
    $('.avg_bs_weekly').show();
    $('.avg_bs_monthly').hide();
    $(this).addClass('active');
    $('.bs-month').removeClass('active');
    return false
  });

  $('.bs-month').on('click', function(){
    $('.avg_bs_weekly').hide();
    $('.avg_bs_monthly').show();
    $(this).addClass('active');
    $('.bs-week').removeClass('active');
    return false
  });
</script>