<% if (defined?(fitness)).present? %>
  <% minutes = fitness['minutes'].to_i %>
  <% calories = fitness['calories'].to_i %>
  <% minutes_color = we_colors[:minutes_color] %>
  <%# calories_color = we_colors[:calories_color] %>
<% else %>
  <% minutes = '0' %>
  <% calories = '0' %>
  <% minutes_color = 'well-bg-white' %>
  <%# calories_color = '' %>
<% end %>

<div class="box we-fitness">
  <div class="we-title">
    fitness
  </div>
  <div class="we-content">
    <div class="we-row" style="display: none">
      <span class="f-title">
        steps
      </span>
      <span class="pull-right fd-qua">
        1,423
      <i class="fa fa-chevron-right"></i>
      </span>

      <div class="progress">
        <div class="progress-bar well-bg-yellow" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
      </div>
    </div>

    <div class="we-row" style="display: none">
      <span class="f-title">
        distance
      </span>
      <span class="pull-right fd-qua">
        492
      <i class="fa fa-chevron-right"></i>
      </span>

      <div class="progress">
        <div class="progress-bar well-bg-yellow" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
      </div>
    </div>

    <div class="we-row">
      <span class="f-title">
        active minutes
      </span>
        <span class="pull-right fd-qua">
          <%= minutes %>
          <span>min</span>
          <i class="fa fa-chevron-right"></i>
        </span>

      <div class="progress">
        <div class="progress-bar <%= minutes_color %>" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
      </div>
    </div>

    <div class="we-row">
      <span class="f-title">
        calories
      </span>
      <span class="pull-right fd-qua">
        <%= calories %>
        <span>calories</span>
        <i class="fa fa-chevron-right"></i>
      </span>

      <div class="progress">
        <div class="progress-bar well-bg-gray" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
      </div>
    </div>
    <div class="fitness-footer" style="text-align: center">
      <span class="pull-left">
        <i class="fa fa-chevron-left"></i>
        yesterday
      </span>
      today
      <span class="pull-right">
        <!--right-->
      <i class="fa fa-chevron-right"></i>
      </span>
    </div>
  </div>
</div>

<script>
  var wt_ht = $('.we-diet').outerHeight();
  var dep_ht = $('.we-fitness').outerHeight();
  while(wt_ht > dep_ht){
    med = $('.we-fitness .we-content');
    med_ht =  parseInt(med.css('min-height')) + 1;
    med.css('min-height', med_ht+'px');
    wt_ht = $('.we-diet').outerHeight();
    dep_ht = $('.we-fitness').outerHeight();
    $('.fitness-footer').css('margin-top', (med_ht)+'px')
  }
</script>
